<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Exercises control flow and functions

---

## If - else

---

### 1. Write an if-else statement for multiple conditions.

Print out these recommendations based on the weather conditions:

1. Temperature over 20 ˚C and rain: bring an umbrella.
2. Temperature less than or equal to 20 ˚C and rain: bring an umbrella and a jacket.
3. Temperature over 20 ˚C and sunshine: wear a t-shirt.
4. Temperature less than or equal to 20 ˚C and sunshine: bring a jacket.

In [28]:
temp = eval(input('What is the temperature? '))
weather = eval(input('What is the weather? '))

if temp > 20 and weather == 'rain':
    print('bring umbrella')
elif temp <= 20 and weather == 'rain':
    print('bring umbrella and jacket')
elif temp > 20 and weather == 'sun':
    print('wear shirt')
elif temp <= 20 and weather == 'sun':
    print('bring jacket')

What is the temperature? 25
What is the weather? 'rain'
bring umbrella

### 2. Iterate from 1 to 15, printing whether the number is odd or even.

Hint: The modulus operator, `%`, can be used to take the remainder. For example:

```python
9 % 5 == 4
```

Or in other words, the remainder of dividing 9 by 5 is 4.

In [19]:
for i in range(1,16):
    if i % 2 == 0:
        print(i, 'Even')
    else:
        print(i, 'Odd')

1 Odd
2 Even
3 Odd
4 Even
5 Odd
6 Even
7 Odd
8 Even
9 Odd
10 Even
11 Odd
12 Even
13 Odd
14 Even
15 Odd

### 3. Iterate through the animals. Print out the animal name and the number of vowels in the name.

In [18]:
animals = ['duck', 'rat', 'boar', 'elefant', 'mammoth', 'gazelle']

In [21]:
vowels = 'aeiou'
for animal in animals:
    vowel_count = 0
    for character in animal:
        if character in vowels:
            vowel_count += 1
    print(animal, vowel_count)

duck 1
rat 1
boar 2
elefant 3
mammoth 2
gazelle 3

### 4. Iterate from 1 to 30 with the following instructions:

1. If a number is divisible by 3, print 'fizz'. 
2. If a number is divisible by 5, print 'buzz'. 
3. If a number is both divisible by 3 and 5 print 'fizzbuzz'.
4. Otherwise, print just the number.

In [23]:
for i in range(1,31):
    if (i % 3 == 0) and (i % 5 == 0):
        print('fizzbuzz')
    elif i % 3 == 0:
        print('fizz')
    elif i % 5 == 0:
        print('buzz')
    else:
        print(i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz

## Functions

---

### 1. Write a function that takes the length of a side of a square as an argument and returns the area of the square.

Example: area_square(5) $\rightarrow$ 25

In [44]:
def area_square(side_length):
    """takes the length of a side of a square as an argument and returns the area of the square"""
    area = side_length ** 2
    print(area)
    
area_square(4)

16

### 2. Write a function that takes a string as an argument and returns a tuple with the string converted to a list and the count of characters

Example: string_list('Rock Rocks') $\rightarrow$ (['R','o','c','k',' ','R','o','c','k','s'],10)

In [46]:
def string_list(string):
    """takes a string as an argument and returns a tuple with the string
    converted to a list and the count of characters"""
    string_list = []
    tuple_list = ()
    count = 0
    for i in string:
        string_list.append(i)
        count += 1
    tuple_list = (string_list, count)
    print(tuple_list)
    
string_list('Rock Rocks')


def string_list_fun(user_string):
    string_list = list(user_string)
    string_count = len(string_list)
    return (string_list, string_count)

string_list_fun('Rock Rocks')

(['R', 'o', 'c', 'k', ' ', 'R', 'o', 'c', 'k', 's'], 10)

(['R', 'o', 'c', 'k', ' ', 'R', 'o', 'c', 'k', 's'], 10)

### 3. Write a one-parameter function that calculates the factorial of an integer given as the argument.

Example: factorial(4) $\rightarrow$ 24

In [36]:
def factorial(n):
    """gives factorial of integer n"""
    factorial = 1
    for i in range(1,n+1):
        factorial *= i
    print(factorial)

factorial(4)

24

### 4. Write a function that takes a list and returns a list with its unique elements

Example: sample list : [1,2,3,3,3,3,4,5] $\rightarrow$ unique list : [1, 2, 3, 4, 5]

In [47]:
def unique_list(sample_list):
    """takes a list and returns a list with its unique elements"""
    unique_list = []
    for i in sample_list:
        if i in unique_list:
            pass
        else:
            unique_list.append(i)
    print(unique_list)

unique_list([1,2,3,3,3,3,4,5])

# or could've turned list into set and returned that

[1, 2, 3, 4, 5]

### 5. Write a function that takes two strings containing integers and returns the sum, difference and product of those two as a tuple.

Example: my_function('3', '2') $\rightarrow$ (5, 1, 6)

In [39]:
def my_function(str1, str2):
    """takes two strings containing integers and returns the sum, difference and product of those two as a tuple"""
    num1 = int(str1)
    num2 = int(str2)
    tup1 = (num1 + num2, abs(num1 - num2), num1 * num2)
    print(tup1)

my_function('3','6')

(9, 3, 18)

### 6. Write a function that takes a list and returns a tuple where the first item is the list in reverse order and the second item is just the items with an odd index

Example: getting_crazy([1,2,3,4,5]) $\rightarrow$ ([5,4,3,2,1],[2,4])

In [50]:
def getting_crazy(lst1):
    """takes a list and returns a tuple where the first item is the list in reverse order 
    and the second item is just the items with an odd index"""
    lst2 = []
    for i in lst1:
        if lst1.index(i) % 2 == 1:
            lst2.append(i)
        else:
            pass
    lst1.reverse() # Note: you need to separately reverse, then you can add the new lst1 below
    tup1 = (lst1, lst2) #Note: you can't amend tuple once created, you need to create once with all elements
                        #required at the end
    return tup1

getting_crazy([1,2,3,4,5])

([5, 4, 3, 2, 1], [2, 4])


### 7. Write a function that takes word as an argument and returns the number of vowels in the word.

Example: vowel_counter('hello') $\rightarrow$ 2

Try it out on 3 words.

In [53]:
def vowel_counter(word):
    """takes word as an argument and returns the number of vowels in the word"""
    count = 0
    vowels = 'aeiou'
    for i in word:
        if i in vowels:
            count += 1
    return count

vowel_counter('hello')

2

### 8. Challenge Problem: Write a function that returns the score for a word. Each letter's score is equal to it's position in the alphabet. The score of the word is the score of the letters. So for example:

* A = 1, B = 2, C = 3, D = 4, E = 5
* abe = 8 = (1 + 2 + 5)

Example: score_word('abe') $\rightarrow$ 8

##### Hint: The string library has a property ascii_lowercase that will give you the alphabet straight away. Be careful with casing!

In [57]:
import string

In [58]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [64]:
def score_word(word):
    """returns the score for a word. Each letter's score is equal to it's position in the alphabet.
    The score of the word is the score of the letters."""
    score = 0
    for i in word:
        score += string.ascii_lowercase.index(i) + 1
    print(score)

score_word('abe')

8


### 9. Write a function which takes a string as the argument and returns it reversed.

Example: string_reverse('1234abcd') $\rightarrow$ 'dcba4321'

In [81]:
def string_reverse(str1):
    """takes a string as the argument and returns it reversed"""
    return_list = list(str1)
    return_list.reverse()
    return ''.join(return_list)

string_reverse('1234abcd')

#alternatively... just take the elements in the string, and return them in reverse order:
def string_reverse_fun(str1):
    return str1[::-1]

string_reverse_fun('1234abcd')

'dcba4321'

### 10.  Write a function that checks whether a passed string is a palindrome or not

A palindrome is a word, a phrase, or a sequence that reads the same backward as forward (excluding spaces), e.g., madam or nurses run. You are allowed to use your string reverse function.

Example: is_palindrome('nursesrun') $\rightarrow$ True

In [95]:
def is_palindrome(str1):
    """checks whether a passed string is a palindrome or not: reads same backward as forward excluding spaces"""
    str1 = str1.replace(" ","")
    return str1 == string_reverse_fun(str1)

is_palindrome('nurses run')

True