<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Python review lab


---

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Miscellaneous-problems" data-toc-modified-id="Miscellaneous-problems-1">Miscellaneous problems</a></span><ul class="toc-item"><li><span><a href="#1.-Load-coffee-preference-data-from-file-and-print" data-toc-modified-id="1.-Load-coffee-preference-data-from-file-and-print-1.1">1. Load coffee preference data from file and print</a></span></li><li><span><a href="#2.-Iterate-through-lines-and-print-them-out" data-toc-modified-id="2.-Iterate-through-lines-and-print-them-out-1.2">2. Iterate through lines and print them out</a></span></li><li><span><a href="#3.-Print-out-just-the-lines-object-by-typing-lines-in-a-cell-and-hitting-enter." data-toc-modified-id="3.-Print-out-just-the-lines-object-by-typing-lines-in-a-cell-and-hitting-enter.-1.3">3. Print out just the lines object by typing <code>lines</code> in a cell and hitting enter.</a></span></li><li><span><a href="#4.-Remove-the-remaining-newline-'\n'-characters-with-a-for-loop." data-toc-modified-id="4.-Remove-the-remaining-newline-'\n'-characters-with-a-for-loop.-1.4">4. Remove the remaining newline <code>'\n'</code> characters with a for-loop.</a></span></li><li><span><a href="#5.-Split-the-lines-into-&quot;header&quot;-and-&quot;data&quot;-variables." data-toc-modified-id="5.-Split-the-lines-into-&quot;header&quot;-and-&quot;data&quot;-variables.-1.5">5. Split the lines into "header" and "data" variables.</a></span></li><li><span><a href="#6.-Split-the-header-and-the-data-strings-on-commas." data-toc-modified-id="6.-Split-the-header-and-the-data-strings-on-commas.-1.6">6. Split the header and the data strings on commas.</a></span></li><li><span><a href="#7.-Remove-the-&quot;Timestamp&quot;-column." data-toc-modified-id="7.-Remove-the-&quot;Timestamp&quot;-column.-1.7">7. Remove the "Timestamp" column.</a></span></li><li><span><a href="#8.-Convert-numeric-columns-to-floats-and-empty-fields-to-None." data-toc-modified-id="8.-Convert-numeric-columns-to-floats-and-empty-fields-to-None.-1.8">8. Convert numeric columns to floats and empty fields to <code>None</code>.</a></span></li><li><span><a href="#9.-Count-the-None-values-per-person-and-put-counts-in-a-dictionary." data-toc-modified-id="9.-Count-the-None-values-per-person-and-put-counts-in-a-dictionary.-1.9">9. Count the <code>None</code> values per person and put counts in a dictionary.</a></span></li><li><span><a href="#10.-Calculate-average-rating-per-coffee-brand." data-toc-modified-id="10.-Calculate-average-rating-per-coffee-brand.-1.10">10. Calculate average rating per coffee brand.</a></span></li><li><span><a href="#11.-Create-a-list-of-just-the-people's-names." data-toc-modified-id="11.-Create-a-list-of-just-the-people's-names.-1.11">11. Create a list of just the people's names.</a></span></li><li><span><a href="#12.-Picking-a-name-at-random:-odds-of-choosing-the-same-name-3-times-in-a-row." data-toc-modified-id="12.-Picking-a-name-at-random:-odds-of-choosing-the-same-name-3-times-in-a-row.-1.12">12. Picking a name at random: odds of choosing the same name 3 times in a row.</a></span></li><li><span><a href="#13.-Construct-a-while-loop-to-run-the-choosing-function-until-it-returns-True." data-toc-modified-id="13.-Construct-a-while-loop-to-run-the-choosing-function-until-it-returns-True.-1.13">13. Construct a while loop to run the choosing function until it returns True.</a></span></li></ul></li></ul></div>

## Miscellaneous problems

---

### 1. Load coffee preference data from file and print

The code to load in the data is provided below. 

The `with open(..., 'r') as f:` opens up a file in "read" mode (rather than "write"), and assigns this opened file to `f`. 

We can then use the `.readlines()` built-in function to split the csv file on newlines and assign it to the variable `lines`.

In [1]:
with open('../../../../../resource-datasets/coffee_preferences/dat12-coffee-preferences.csv','r') as f:
    lines = f.readlines()

---

### 2. Print out just the lines object by typing `lines` in a cell and hitting enter

In [2]:
lines

['Timestamp,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe\n',
 '3/17/2015 18:37:58,Alison,3,5,4,3,,,5,5,\n',
 '3/17/2015 18:38:09,April,4,5,5,3,,,3,,5\n',
 '3/17/2015 18:38:25,Vijay,3,5,5,5,3,2,1,1,1\n',
 '3/17/2015 18:38:28,Vanessa,1,5,5,2,,,3,2,3\n',
 '3/17/2015 18:38:46,Isabel,1,4,4,2,4,,4,4,\n',
 '3/17/2015 18:39:01,India,5,3,3,3,3,1,,,3\n',
 '3/17/2015 18:39:01,Dave H,4,5,,5,,,,,\n',
 '3/17/2015 18:39:05,Deepthi,3,5,,2,,,,,2\n',
 '3/17/2015 18:39:14,Ramesh,3,4,,3,,,,,4\n',
 '3/17/2015 18:39:23,Hugh Jass,1,5,5,4,5,2,5,4,1\n',
 '3/17/2015 18:39:23,Alex,4,5,,3,,,,,\n',
 '3/17/2015 18:39:30,Ajay Anand,3,4,4,3,5,,,,\n',
 '3/17/2015 18:39:35,David Feng,2,3,4,2,2,,5,4,3\n',
 '3/17/2015 18:39:42,Zach,3,4,4,3,,,,,5\n',
 '3/17/2015 18:40:44,Matt,3,5,4,3,2,2,4,3,2\n',
 '3/17/2015 18:40:49,Markus,3,5,,3,,,4,,\n',
 '3/17/2015 18:41:18,Otto,4,2,2,5,,,3,3,3\n',
 '3/17/2015 18:41:23,Alessandro,1,5,3,2,,,4,3,\n',
 '3/17/2015 18:41:35,Rocky,3,5,4,3,3,3,4,4,3\n',
 '3/17/2015 18:42:01,cheong-tseng eng,3,1,,,,,4,,']

---

### 3. Iterate through lines and print them out

In [3]:
for line in lines:
    print(line)

Timestamp,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe

3/17/2015 18:37:58,Alison,3,5,4,3,,,5,5,

3/17/2015 18:38:09,April,4,5,5,3,,,3,,5

3/17/2015 18:38:25,Vijay,3,5,5,5,3,2,1,1,1

3/17/2015 18:38:28,Vanessa,1,5,5,2,,,3,2,3

3/17/2015 18:38:46,Isabel,1,4,4,2,4,,4,4,

3/17/2015 18:39:01,India,5,3,3,3,3,1,,,3

3/17/2015 18:39:01,Dave H,4,5,,5,,,,,

3/17/2015 18:39:05,Deepthi,3,5,,2,,,,,2

3/17/2015 18:39:14,Ramesh,3,4,,3,,,,,4

3/17/2015 18:39:23,Hugh Jass,1,5,5,4,5,2,5,4,1

3/17/2015 18:39:23,Alex,4,5,,3,,,,,

3/17/2015 18:39:30,Ajay Anand,3,4,4,3,5,,,,

3/17/2015 18:39:35,David Feng,2,3,4,2,2,,5,4,3

3/17/2015 18:39:42,Zach,3,4,4,3,,,,,5

3/17/2015 18:40:44,Matt,3,5,4,3,2,2,4,3,2

3/17/2015 18:40:49,Markus,3,5,,3,,,4,,

3/17/2015 18:41:18,Otto,4,2,2,5,,,3,3,3

3/17/2015 18:41:23,Alessandro,1,5,3,2,,,4,3,

3/17/2015 18:41:35,Rocky,3,5,4,3,3,3,4,4,3

3/17/2015 18:42:01,cheong-tseng eng,3,1,,,,,4,,

---

### 4. Remove the remaining newline `'\n'` characters with a for-loop.

Iterate through the lines of the data and remove the unwanted newline characters.

**`.replace('\n', '')`** is a built-in string function that will take as the first argument the substring you want to replace, and as its second argument the string you want to replace it with.

In [4]:
cleaned_lines = []
for l in lines:
    cleaned_lines.append(l.replace('\n',''))
cleaned_lines

['Timestamp,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe',
 '3/17/2015 18:37:58,Alison,3,5,4,3,,,5,5,',
 '3/17/2015 18:38:09,April,4,5,5,3,,,3,,5',
 '3/17/2015 18:38:25,Vijay,3,5,5,5,3,2,1,1,1',
 '3/17/2015 18:38:28,Vanessa,1,5,5,2,,,3,2,3',
 '3/17/2015 18:38:46,Isabel,1,4,4,2,4,,4,4,',
 '3/17/2015 18:39:01,India,5,3,3,3,3,1,,,3',
 '3/17/2015 18:39:01,Dave H,4,5,,5,,,,,',
 '3/17/2015 18:39:05,Deepthi,3,5,,2,,,,,2',
 '3/17/2015 18:39:14,Ramesh,3,4,,3,,,,,4',
 '3/17/2015 18:39:23,Hugh Jass,1,5,5,4,5,2,5,4,1',
 '3/17/2015 18:39:23,Alex,4,5,,3,,,,,',
 '3/17/2015 18:39:30,Ajay Anand,3,4,4,3,5,,,,',
 '3/17/2015 18:39:35,David Feng,2,3,4,2,2,,5,4,3',
 '3/17/2015 18:39:42,Zach,3,4,4,3,,,,,5',
 '3/17/2015 18:40:44,Matt,3,5,4,3,2,2,4,3,2',
 '3/17/2015 18:40:49,Markus,3,5,,3,,,4,,',
 '3/17/2015 18:41:18,Otto,4,2,2,5,,,3,3,3',
 '3/17/2015 18:41:23,Alessandro,1,5,3,2,,,4,3,',
 '3/17/2015 18:41:35,Rocky,3,5,4,3,3,3,4,4,3',
 '3/17/2015 18:42:01,cheong-tseng eng,3,1,,,,,4,,']

---

### 5. Split the lines into "header" and "data" variables.

The header is the first string in the list of strings. It contains the column names of our data.

In [5]:
header = cleaned_lines[0]
data = cleaned_lines[1:]

---

### 6. Split the header and the data strings on commas.

To split a string on the comma character, use the **`.split(',')`** built-in function. 

Split the header on commas first and print it. You can see that the original string is now a list, with items that were originally separated by commas.

In [6]:
# split on commas
header = header.split(',')
print(header)

split_data = []
for d in data:
    split_data.append(d.split(','))

['Timestamp', 'Name', 'Starbucks', 'PhilzCoffee', 'BlueBottleCoffee', 'PeetsTea', 'CaffeTrieste', 'GrandCoffee', 'RitualCoffee', 'FourBarrel', 'WorkshopCafe']

In [7]:
(split_data)

[['3/17/2015 18:37:58', 'Alison', '3', '5', '4', '3', '', '', '5', '5', ''],
 ['3/17/2015 18:38:09', 'April', '4', '5', '5', '3', '', '', '3', '', '5'],
 ['3/17/2015 18:38:25', 'Vijay', '3', '5', '5', '5', '3', '2', '1', '1', '1'],
 ['3/17/2015 18:38:28', 'Vanessa', '1', '5', '5', '2', '', '', '3', '2', '3'],
 ['3/17/2015 18:38:46', 'Isabel', '1', '4', '4', '2', '4', '', '4', '4', ''],
 ['3/17/2015 18:39:01', 'India', '5', '3', '3', '3', '3', '1', '', '', '3'],
 ['3/17/2015 18:39:01', 'Dave H', '4', '5', '', '5', '', '', '', '', ''],
 ['3/17/2015 18:39:05', 'Deepthi', '3', '5', '', '2', '', '', '', '', '2'],
 ['3/17/2015 18:39:14', 'Ramesh', '3', '4', '', '3', '', '', '', '', '4'],
 ['3/17/2015 18:39:23',
  'Hugh Jass',
  '1',
  '5',
  '5',
  '4',
  '5',
  '2',
  '5',
  '4',
  '1'],
 ['3/17/2015 18:39:23', 'Alex', '4', '5', '', '3', '', '', '', '', ''],
 ['3/17/2015 18:39:30', 'Ajay Anand', '3', '4', '4', '3', '5', '', '', '', ''],
 ['3/17/2015 18:39:35',
  'David Feng',
  '2',
  '3',
  '4',
  '2',
  '2',
  '',
  '5',
  '4',
  '3'],
 ['3/17/2015 18:39:42', 'Zach', '3', '4', '4', '3', '', '', '', '', '5'],
 ['3/17/2015 18:40:44', 'Matt', '3', '5', '4', '3', '2', '2', '4', '3', '2'],
 ['3/17/2015 18:40:49', 'Markus', '3', '5', '', '3', '', '', '4', '', ''],
 ['3/17/2015 18:41:18', 'Otto', '4', '2', '2', '5', '', '', '3', '3', '3'],
 ['3/17/2015 18:41:23',
  'Alessandro',
  '1',
  '5',
  '3',
  '2',
  '',
  '',
  '4',
  '3',
  ''],
 ['3/17/2015 18:41:35', 'Rocky', '3', '5', '4', '3', '3', '3', '4', '4', '3'],
 ['3/17/2015 18:42:01',
  'cheong-tseng eng',
  '3',
  '1',
  '',
  '',
  '',
  '',
  '4',
  '',
  '']]

---

### 7. Remove the "Timestamp" column.

We aren't interested in the Timestamp column in our data, so remove it from the header and the data list.

Removing the Timestamp from the header can be done with list functions or slicing. To remove the header column from the data, use a for-loop.

Print out the new data object with the timestamps removed.

In [8]:
# remove Timestamp:
header = header[1:]
data_nots = []
for row in split_data:
    data_nots.append(row[1:])

In [9]:
data_nots

[['Alison', '3', '5', '4', '3', '', '', '5', '5', ''],
 ['April', '4', '5', '5', '3', '', '', '3', '', '5'],
 ['Vijay', '3', '5', '5', '5', '3', '2', '1', '1', '1'],
 ['Vanessa', '1', '5', '5', '2', '', '', '3', '2', '3'],
 ['Isabel', '1', '4', '4', '2', '4', '', '4', '4', ''],
 ['India', '5', '3', '3', '3', '3', '1', '', '', '3'],
 ['Dave H', '4', '5', '', '5', '', '', '', '', ''],
 ['Deepthi', '3', '5', '', '2', '', '', '', '', '2'],
 ['Ramesh', '3', '4', '', '3', '', '', '', '', '4'],
 ['Hugh Jass', '1', '5', '5', '4', '5', '2', '5', '4', '1'],
 ['Alex', '4', '5', '', '3', '', '', '', '', ''],
 ['Ajay Anand', '3', '4', '4', '3', '5', '', '', '', ''],
 ['David Feng', '2', '3', '4', '2', '2', '', '5', '4', '3'],
 ['Zach', '3', '4', '4', '3', '', '', '', '', '5'],
 ['Matt', '3', '5', '4', '3', '2', '2', '4', '3', '2'],
 ['Markus', '3', '5', '', '3', '', '', '4', '', ''],
 ['Otto', '4', '2', '2', '5', '', '', '3', '3', '3'],
 ['Alessandro', '1', '5', '3', '2', '', '', '4', '3', ''],
 ['Rocky', '3', '5', '4', '3', '3', '3', '4', '4', '3'],
 ['cheong-tseng eng', '3', '1', '', '', '', '', '4', '', '']]

---

### 8. Convert numeric columns to floats and empty fields to `None`.

Iterate through the data and construct a new data list of lists that has the numeric ratings converted from strings to floats, and the empty fields (which are empty strings `''`) replaced with the `None` object.

Use a nested for-loop (for-loop within another for-loop) to get the job done. You will likely need to use if/else conditional statements as well.

Print out the new data object to make sure it worked.

In [10]:
for index, element in list(enumerate(['a','b','c'])):
    print(index)
    print(element)

0
a
1
b
2
c

In [11]:
data_num = []
for row in data_nots:
    new_row = []
    for i, col in enumerate(row):
        if i == 0:
            new_row.append(col)
        else:
            if col == '':
                new_row.append(None)
            else:
                new_row.append(float(col))
    data_num.append(new_row)

In [12]:
data_num

[['Alison', 3.0, 5.0, 4.0, 3.0, None, None, 5.0, 5.0, None],
 ['April', 4.0, 5.0, 5.0, 3.0, None, None, 3.0, None, 5.0],
 ['Vijay', 3.0, 5.0, 5.0, 5.0, 3.0, 2.0, 1.0, 1.0, 1.0],
 ['Vanessa', 1.0, 5.0, 5.0, 2.0, None, None, 3.0, 2.0, 3.0],
 ['Isabel', 1.0, 4.0, 4.0, 2.0, 4.0, None, 4.0, 4.0, None],
 ['India', 5.0, 3.0, 3.0, 3.0, 3.0, 1.0, None, None, 3.0],
 ['Dave H', 4.0, 5.0, None, 5.0, None, None, None, None, None],
 ['Deepthi', 3.0, 5.0, None, 2.0, None, None, None, None, 2.0],
 ['Ramesh', 3.0, 4.0, None, 3.0, None, None, None, None, 4.0],
 ['Hugh Jass', 1.0, 5.0, 5.0, 4.0, 5.0, 2.0, 5.0, 4.0, 1.0],
 ['Alex', 4.0, 5.0, None, 3.0, None, None, None, None, None],
 ['Ajay Anand', 3.0, 4.0, 4.0, 3.0, 5.0, None, None, None, None],
 ['David Feng', 2.0, 3.0, 4.0, 2.0, 2.0, None, 5.0, 4.0, 3.0],
 ['Zach', 3.0, 4.0, 4.0, 3.0, None, None, None, None, 5.0],
 ['Matt', 3.0, 5.0, 4.0, 3.0, 2.0, 2.0, 4.0, 3.0, 2.0],
 ['Markus', 3.0, 5.0, None, 3.0, None, None, 4.0, None, None],
 ['Otto', 4.0, 2.0, 2.0, 5.0, None, None, 3.0, 3.0, 3.0],
 ['Alessandro', 1.0, 5.0, 3.0, 2.0, None, None, 4.0, 3.0, None],
 ['Rocky', 3.0, 5.0, 4.0, 3.0, 3.0, 3.0, 4.0, 4.0, 3.0],
 ['cheong-tseng eng', 3.0, 1.0, None, None, None, None, 4.0, None, None]]

---

### 9. Count the `None` values per person and put counts in a dictionary.

Use a for loop to count the number of `None` values per person. Create a dictionary with the names of the people as keys, and the counts of `None` as values.

Who rated the most coffee brands? Who rated the least?

In [13]:
user_nones = {}
for row in data_num:
    nones = 0
    for cell in row:
        if cell == None:
            nones += 1
    user_nones[row[0]] = nones
    
user_nones

# Least: Alex, Dave H, cheong-tseng eng
# Most: Hugh Jass, Matt, Rocky, Vijay

{'Alison': 3,
 'April': 3,
 'Vijay': 0,
 'Vanessa': 2,
 'Isabel': 2,
 'India': 2,
 'Dave H': 6,
 'Deepthi': 5,
 'Ramesh': 5,
 'Hugh Jass': 0,
 'Alex': 6,
 'Ajay Anand': 4,
 'David Feng': 1,
 'Zach': 4,
 'Matt': 0,
 'Markus': 5,
 'Otto': 2,
 'Alessandro': 3,
 'Rocky': 0,
 'cheong-tseng eng': 6}

---

### 10. Calculate average rating per coffee brand.

**Excluding `None` values**, calculate the average rating per brand of coffee.

The final output should be a dictionary with keys as the coffee brand names, and their average rating as the values.

Remember that average can be calculated as the sum of the ratings over the number of ratings:

```python
average_rating = float(sum(ratings_list))/len(ratings_list)
```

Print your dictionary to see the average brand ratings.

In [14]:
ratings_dict = {}

for name in header[1:]:
    ratings = []
    for row in data_num:
        ratings.append(row[header.index(name)])
    
    ratings_filtered = [r for r in ratings if r != None]
    print(ratings_filtered)
    ratings_dict[name] = sum(ratings_filtered)/len(ratings_filtered)

ratings_dict

[3.0, 4.0, 3.0, 1.0, 1.0, 5.0, 4.0, 3.0, 3.0, 1.0, 4.0, 3.0, 2.0, 3.0, 3.0, 3.0, 4.0, 1.0, 3.0, 3.0]
[5.0, 5.0, 5.0, 5.0, 4.0, 3.0, 5.0, 5.0, 4.0, 5.0, 5.0, 4.0, 3.0, 4.0, 5.0, 5.0, 2.0, 5.0, 5.0, 1.0]
[4.0, 5.0, 5.0, 5.0, 4.0, 3.0, 5.0, 4.0, 4.0, 4.0, 4.0, 2.0, 3.0, 4.0]
[3.0, 3.0, 5.0, 2.0, 2.0, 3.0, 5.0, 2.0, 3.0, 4.0, 3.0, 3.0, 2.0, 3.0, 3.0, 3.0, 5.0, 2.0, 3.0]
[3.0, 4.0, 3.0, 5.0, 5.0, 2.0, 2.0, 3.0]
[2.0, 1.0, 2.0, 2.0, 3.0]
[5.0, 3.0, 1.0, 3.0, 4.0, 5.0, 5.0, 4.0, 4.0, 3.0, 4.0, 4.0, 4.0]
[5.0, 1.0, 2.0, 4.0, 4.0, 4.0, 3.0, 3.0, 3.0, 4.0]
[5.0, 1.0, 3.0, 3.0, 2.0, 4.0, 1.0, 3.0, 5.0, 2.0, 3.0, 3.0]

{'Starbucks': 2.85,
 'PhilzCoffee': 4.25,
 'BlueBottleCoffee': 4.0,
 'PeetsTea': 3.1052631578947367,
 'CaffeTrieste': 3.375,
 'GrandCoffee': 2.0,
 'RitualCoffee': 3.769230769230769,
 'FourBarrel': 3.3,
 'WorkshopCafe': 2.9166666666666665}

---

### 11. Create a list of just the people's names.

In [15]:
people = []
for row in data_num:
    people.append(row[0])
    
print(len(people))
people

20

['Alison',
 'April',
 'Vijay',
 'Vanessa',
 'Isabel',
 'India',
 'Dave H',
 'Deepthi',
 'Ramesh',
 'Hugh Jass',
 'Alex',
 'Ajay Anand',
 'David Feng',
 'Zach',
 'Matt',
 'Markus',
 'Otto',
 'Alessandro',
 'Rocky',
 'cheong-tseng eng']

---

### 12. Picking a name at random: odds of choosing the same name 3 times in a row.

Now we'll use a while-loop to "brute force" the odds of choosing the same name 3 times in a row randomly from the list of names.

Below we've imported the **`random`** package, which has the essential function for this code **`random.choice()`**.
The function takes a list as an argument, and returns one of the elements of that list at random.

In [16]:
import random
# Choose a random person from the list of people:
# random.choice(people)

Write a function to choose a person from the list randomly 3 times and check if they are all the same

Define a function that has the following properties:

1. Takes a list (your list of names) as an argument.
2. Selects a name using `random.choice(people)` three separate times.
3. Returns `True` if the name was the same all three times. Otherwise returns `False`.

In [17]:
def choose_three(people):
    person1 = random.choice(people)
    person2 = random.choice(people)
    person3 = random.choice(people)
    if person1 == person2 == person3:
        return True
    else:
        return False

---

### 13. Construct a while loop to run the choosing function until it returns True.

Run the function until you draw the same person 3 times using a while-loop. Keep track of how many tries it took and print out the number of tries after it runs.

In [18]:
# the random seed certifies reproducing the same result
random.seed(42)

In [19]:
tries = 0

while choose_three(people)==False:
    tries += 1
        
tries

448