<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Apply map review

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 6]], columns=['col1', 'col2', 'col3'])
df

   col1  col2  col3
0     1     2     3
1     4     5     6

In [3]:
# applymap works on a dataframe and applies the function to each cell
# the argument of the function is the single cell
df.applymap(lambda x: x + 1)

   col1  col2  col3
0     2     3     4
1     5     6     7

In [4]:
# apply works on a dataframe
# the argument of the function is either a row or a column

df.apply(lambda x: x+1)

   col1  col2  col3
0     2     3     4
1     5     6     7

In [5]:
# By default it applies the function row by row (axis=0)
df.apply(lambda x: x+1, axis=0)

   col1  col2  col3
0     2     3     4
1     5     6     7

In the examples above (adding 1 to each value) the order didn't matter, therefore `.applymap` and `.apply` give the same results.

However, sometimes for other operations the order matters.

In [6]:
# Here we're calculating the mean of each individual cell

df.applymap(np.mean)

   col1  col2  col3
0   1.0   2.0   3.0
1   4.0   5.0   6.0

In [7]:
# Whereas here we are calculating the mean across each row
df.apply(np.mean)

col1    2.5
col2    3.5
col3    4.5
dtype: float64

In [8]:
# And here we are calculating the mean across each column
df.apply(np.mean, axis=1)

0    2.0
1    5.0
dtype: float64

In [9]:
# .map allows the replacement of values using a dictionary
# Only works on series, not dataframes!
df.iloc[0,:].map({1:10, 2:20, 3:30})

col1    10
col2    20
col3    30
Name: 0, dtype: int64

In [10]:
# ONLY .apply allows for keyword arguments 
df['col1'].map(lambda x: x/3).apply(np.round, decimals=2)

0    0.33
1    1.33
Name: col1, dtype: float64

In [11]:
df.applymap(float)

   col1  col2  col3
0   1.0   2.0   3.0
1   4.0   5.0   6.0