<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Pandas joins lab

---

In this lab we want to obtain more practice of extracting information from dataframes and joining different dataframes.

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#1.--Read-in-the-EuroMart-CSV-Data" data-toc-modified-id="1.--Read-in-the-EuroMart-CSV-Data-1">1.  Read in the EuroMart CSV Data</a></span></li><li><span><a href="#2.-Inspect-the-column-names-of-the-dataframes" data-toc-modified-id="2.-Inspect-the-column-names-of-the-dataframes-2">2. Inspect the column names of the dataframes</a></span></li><li><span><a href="#3.-Inspect-the-shapes-of-the-dataframes" data-toc-modified-id="3.-Inspect-the-shapes-of-the-dataframes-3">3. Inspect the shapes of the dataframes</a></span></li><li><span><a href="#4.-Rename-columns-to-remove-any-spaces-in-the-names" data-toc-modified-id="4.-Rename-columns-to-remove-any-spaces-in-the-names-4">4. Rename columns to remove any spaces in the names</a></span></li><li><span><a href="#5.-Inspect-the-top-of-the-dataframes" data-toc-modified-id="5.-Inspect-the-top-of-the-dataframes-5">5. Inspect the top of the dataframes</a></span></li><li><span><a href="#6.-How-many-orders-has-each-Customer-placed?-How-many-have-placed-more-than-ten-orders?" data-toc-modified-id="6.-How-many-orders-has-each-Customer-placed?-How-many-have-placed-more-than-ten-orders?-6">6. How many orders has each Customer placed? How many have placed more than ten orders?</a></span></li><li><span><a href="#7.-From-the-table-of-orders,-subset-on-the-columns-containing-geographical-information-and-sort-by-country." data-toc-modified-id="7.-From-the-table-of-orders,-subset-on-the-columns-containing-geographical-information-and-sort-by-country.-7">7. From the table of orders, subset on the columns containing geographical information and sort by country.</a></span></li><li><span><a href="#8.-Use-a-join-to-return-a-table-with-the-Customer-Name-and-Product-Name." data-toc-modified-id="8.-Use-a-join-to-return-a-table-with-the-Customer-Name-and-Product-Name.-8">8. Use a join to return a table with the Customer Name and Product Name.</a></span></li><li><span><a href="#9.--How-many-orders-for-&quot;Office-Supplies&quot;-(Category)-has-Sweden-made?" data-toc-modified-id="9.--How-many-orders-for-&quot;Office-Supplies&quot;-(Category)-has-Sweden-made?-9">9.  How many orders for "Office Supplies" (Category) has Sweden made?</a></span></li><li><span><a href="#10.-What-is-the-total-quantity-of-objects-sold-for-Sweden?" data-toc-modified-id="10.-What-is-the-total-quantity-of-objects-sold-for-Sweden?-10">10. What is the total quantity of objects sold for Sweden?</a></span></li><li><span><a href="#11.-What-Shipping-method-is-most-common-for-'Bookcases'-(Sub-Category)?" data-toc-modified-id="11.-What-Shipping-method-is-most-common-for-'Bookcases'-(Sub-Category)?-11">11. What Shipping method is most common for 'Bookcases' (Sub Category)?</a></span></li></ul></div>

In [1]:
# Necessary Libraries
import pandas as pd

### 1.  Read in the EuroMart CSV Data
- 'EuroMart-ListOfOrders.csv'
- 'EuroMart-OrderBreakdown.csv'

In [85]:
# Reading CSV to Dataframe
orders = pd.read_csv('../../../../resource-datasets/euromart/EuroMart-ListOfOrders.csv')
OBD = pd.read_csv('../../../../resource-datasets/euromart/EuroMart-OrderBreakdown.csv')

### 2. Inspect the column names of the dataframes

In [6]:
print('Orders columns:',orders.columns)
print('OBD columns:',OBD.columns)

Orders columns: Index(['Order ID', 'Order Date', 'Customer Name', 'City', 'Country', 'Region',
       'Segment', 'Ship Date', 'Ship Mode', 'State'],
      dtype='object')
OBD columns: Index(['Order ID', 'Product Name', 'Discount', 'Sales', 'Profit', 'Quantity',
       'Category', 'Sub-Category'],
      dtype='object')

### 3. Inspect the shapes of the dataframes

In [5]:
print('Orders shape:',orders.shape)
print('OBD shape:',OBD.shape)

Orders shape: (4117, 10)
OBD shape: (8047, 8)

### 4. Rename columns to replace spaces with underscore in the names and turn them lower case

In [26]:
new_c = []
for word in orders.columns:
    new_c.append(word.replace(' ','_').lower())
orders.columns = new_c

new_c = []
for word in OBD.columns:
    new_c.append(word.replace(' ','_').lower())
OBD.columns = new_c

print('Orders columns:',orders.columns)
print('OBD columns:',OBD.columns)

Orders columns: Index(['order_id', 'order_date', 'customer_name', 'city', 'country', 'region',
       'segment', 'ship_date', 'ship_mode', 'state'],
      dtype='object')
OBD columns: Index(['order_id', 'product_name', 'discount', 'sales', 'profit', 'quantity',
       'category', 'sub-category'],
      dtype='object')

In [86]:
# or comprehension

orders.columns = [col.replace(' ','_').lower() for col in orders.columns]
OBD.columns = [col.replace(' ','_').lower() for col in OBD.columns]

print('Orders columns:',orders.columns)
print('OBD columns:',OBD.columns)

Orders columns: Index(['order_id', 'order_date', 'customer_name', 'city', 'country', 'region',
       'segment', 'ship_date', 'ship_mode', 'state'],
      dtype='object')
OBD columns: Index(['order_id', 'product_name', 'discount', 'sales', 'profit', 'quantity',
       'category', 'sub-category'],
      dtype='object')

### 5. Inspect the top of the dataframes

In [29]:
orders.head()

,order_id,order_date,customer_name,city,country,region,segment,ship_date,ship_mode,state
0,BN-2011-7407039,1/1/2011,Ruby Patel,Stockholm,Sweden,North,Home Office,1/5/2011,Economy Plus,Stockholm
1,AZ-2011-9050313,1/3/2011,Summer Hayward,Southport,United Kingdom,North,Consumer,1/7/2011,Economy,England
2,AZ-2011-6674300,1/4/2011,Devin Huddleston,Valence,France,Central,Consumer,1/8/2011,Economy,Auvergne-Rhône-Alpes
3,BN-2011-2819714,1/4/2011,Mary Parker,Birmingham,United Kingdom,North,Corporate,1/9/2011,Economy,England
4,AZ-2011-617423,1/5/2011,Daniel Burke,Echirolles,France,Central,Home Office,1/7/2011,Priority,Auvergne-Rhône-Alpes

In [30]:
OBD.head()

,order_id,product_name,discount,sales,profit,quantity,category,sub-category
0,BN-2011-7407039,"Enermax Note Cards, Premium",0.5,$45.00,-$26.00,3,Office Supplies,Paper
1,AZ-2011-9050313,"Dania Corner Shelving, Traditional",0.0,$854.00,$290.00,7,Furniture,Bookcases
2,AZ-2011-6674300,"Binney & Smith Sketch Pad, Easy-Erase",0.0,$140.00,$21.00,3,Office Supplies,Art
3,BN-2011-2819714,"Boston Markers, Easy-Erase",0.5,$27.00,-$22.00,2,Office Supplies,Art
4,BN-2011-2819714,"Eldon Folders, Single Width",0.5,$17.00,-$1.00,2,Office Supplies,Storage

### 6. How many orders has each Customer placed? How many have placed more than ten orders?

Hint: Use `.value_counts()`.

In [33]:
cust_list = orders.customer_name.value_counts().index
order_counts = orders.customer_name.value_counts().values

customer_ordercount = pd.DataFrame({'customer_name':cust_list, 'counts':order_counts})
customer_ordercount

          customer_name  counts
0          Jose Gambino      13
1          Kayla Tearle      12
2       Mark Washington      12
3       Georgina Garner      11
4        Maya Pamphlett      11
5          Rachel Tyler      11
6         Aaron Bootman      11
7         Terence Welch      11
8           Jason Roger      11
9           Lori Miller      11
10      Jessica Paramor      11
11       Patricia Smith      11
12        Michael Myers      11
13       Lilly Le Grand      11
14       Hayden Perkins      11
15        Katie Evenden      10
16       Elijah Sodeman      10
17         Eloise Sykes      10
18          Isaac David      10
19            Rory Jess      10
20     Angie Massengill      10
21          Owen Howell      10
22         Robert Quick      10
23       Ashton Charles      10
24          Ngoc Orozco      10
25           Peter Daly      10
26    Chelsea Bannister      10
27      Michael Watkins      10
28           Kian Sykes      10
29        Philip Newsom      10
..                  ...     ...
762           Max Baker       1
763        Shannon Lane       1
764       Pearl Summers       1
765     Audrey Prentice       1
766         Erin Wallis       1
767     Tyler Whitehead       1
768     Herbert Harrell       1
769       Hayden Weigel       1
770     Imogen Smithies       1
771      Bethany Powell       1
772       Dustin Thomas       1
773         Anna Church       1
774        Tegan Savage       1
775  Clifford Defreitas       1
776        Mason Porter       1
777        Louie Bryant       1
778         Audry Smith       1
779   Alexandra Mahmood       1
780        Charles Rice       1
781        Jack Maughan       1
782         Grace Brown       1
783        Jodie Garner       1
784        Claire Dilke       1
785     Aaron Macrossan       1
786         Jay Collier       1
787      Stephanie Ewen       1
788         James Brown       1
789         Elliot Owen       1
790     Bella Handfield       1
791       Dakota Baynes       1

[792 rows x 2 columns]

In [36]:
customer_ordercount[customer_ordercount['counts'] > 10]

      customer_name  counts
0      Jose Gambino      13
1      Kayla Tearle      12
2   Mark Washington      12
3   Georgina Garner      11
4    Maya Pamphlett      11
5      Rachel Tyler      11
6     Aaron Bootman      11
7     Terence Welch      11
8       Jason Roger      11
9       Lori Miller      11
10  Jessica Paramor      11
11   Patricia Smith      11
12    Michael Myers      11
13   Lilly Le Grand      11
14   Hayden Perkins      11

### 7. From the table of orders, subset on the columns containing geographical information and sort by country.

In [37]:
orders.head()

,order_id,order_date,customer_name,city,country,region,segment,ship_date,ship_mode,state
0,BN-2011-7407039,1/1/2011,Ruby Patel,Stockholm,Sweden,North,Home Office,1/5/2011,Economy Plus,Stockholm
1,AZ-2011-9050313,1/3/2011,Summer Hayward,Southport,United Kingdom,North,Consumer,1/7/2011,Economy,England
2,AZ-2011-6674300,1/4/2011,Devin Huddleston,Valence,France,Central,Consumer,1/8/2011,Economy,Auvergne-Rhône-Alpes
3,BN-2011-2819714,1/4/2011,Mary Parker,Birmingham,United Kingdom,North,Corporate,1/9/2011,Economy,England
4,AZ-2011-617423,1/5/2011,Daniel Burke,Echirolles,France,Central,Home Office,1/7/2011,Priority,Auvergne-Rhône-Alpes

In [50]:
geog_info = ['city', 'country','region','state']
orders[geog_info].sort_values('country')

                 city         country   region          state
926            Vienna         Austria  Central         Vienna
258            Vienna         Austria  Central         Vienna
2945         Salzburg         Austria  Central       Salzburg
3971           Vienna         Austria  Central         Vienna
1302           Vienna         Austria  Central         Vienna
2153           Vienna         Austria  Central         Vienna
271            Vienna         Austria  Central         Vienna
2141       Klagenfurt         Austria  Central      Carinthia
2962        Innsbruck         Austria  Central          Tyrol
281            Vienna         Austria  Central         Vienna
1326           Vienna         Austria  Central         Vienna
2101           Vienna         Austria  Central         Vienna
290            Vienna         Austria  Central         Vienna
3751           Vienna         Austria  Central         Vienna
3755             Graz         Austria  Central         Styria
711            Vienna         Austria  Central         Vienna
707            Vienna         Austria  Central         Vienna
706            Vienna         Austria  Central         Vienna
2995             Graz         Austria  Central         Styria
2050           Vienna         Austria  Central         Vienna
314              Linz         Austria  Central  Upper Austria
323            Vienna         Austria  Central         Vienna
2024           Vienna         Austria  Central         Vienna
3027             Graz         Austria  Central         Styria
2169           Vienna         Austria  Central         Vienna
3362           Vienna         Austria  Central         Vienna
737            Vienna         Austria  Central         Vienna
249            Vienna         Austria  Central         Vienna
2441           Vienna         Austria  Central         Vienna
2409           Vienna         Austria  Central         Vienna
...               ...             ...      ...            ...
1865             Bury  United Kingdom    North        England
3642    West Bromwich  United Kingdom    North        England
1866             York  United Kingdom    North        England
879         Gateshead  United Kingdom    North        England
1840           Exeter  United Kingdom    North        England
923           Ipswich  United Kingdom    North        England
932            Dundee  United Kingdom    North       Scotland
933            Oxford  United Kingdom    North        England
979        Birmingham  United Kingdom    North        England
3117       Nottingham  United Kingdom    North        England
3601      Stourbridge  United Kingdom    North        England
970      Huddersfield  United Kingdom    North        England
3604  Hemel Hempstead  United Kingdom    North        England
1808         Solihull  United Kingdom    North        England
961         Sheffield  United Kingdom    North        England
958            London  United Kingdom    North        England
3608       Nottingham  United Kingdom    North        England
2073         Barnsley  United Kingdom    North        England
957         Sheffield  United Kingdom    North        England
1818    Wolverhampton  United Kingdom    North        England
946           Glasgow  United Kingdom    North       Scotland
3613        Sheffield  United Kingdom    North        England
1826            Leeds  United Kingdom    North        England
3108            Poole  United Kingdom    North        England
1831        Edinburgh  United Kingdom    North       Scotland
1832       Maidenhead  United Kingdom    North        England
3618       Hartlepool  United Kingdom    North        England
1839        Edinburgh  United Kingdom    North       Scotland
3112       Manchester  United Kingdom    North        England
1334           London  United Kingdom    North        England

[4117 rows x 4 columns]

In the following parts you will need to use `pd.merge`.

### 8. Use a join to return a table with the Customer Name and Product Name.

In [89]:
#merged_data = pd.merge(orders, OBD, on='order_id')[['customer_name','product_name']].head()

merged_data = pd.merge(orders, OBD, on='order_id').head()
merged_data

,order_id,order_date,customer_name,city,country,region,segment,ship_date,ship_mode,state,product_name,discount,sales,profit,quantity,category,sub-category
0,BN-2011-7407039,1/1/2011,Ruby Patel,Stockholm,Sweden,North,Home Office,1/5/2011,Economy Plus,Stockholm,"Enermax Note Cards, Premium",0.5,$45.00,-$26.00,3,Office Supplies,Paper
1,AZ-2011-9050313,1/3/2011,Summer Hayward,Southport,United Kingdom,North,Consumer,1/7/2011,Economy,England,"Dania Corner Shelving, Traditional",0.0,$854.00,$290.00,7,Furniture,Bookcases
2,AZ-2011-6674300,1/4/2011,Devin Huddleston,Valence,France,Central,Consumer,1/8/2011,Economy,Auvergne-Rhône-Alpes,"Binney & Smith Sketch Pad, Easy-Erase",0.0,$140.00,$21.00,3,Office Supplies,Art
3,BN-2011-2819714,1/4/2011,Mary Parker,Birmingham,United Kingdom,North,Corporate,1/9/2011,Economy,England,"Boston Markers, Easy-Erase",0.5,$27.00,-$22.00,2,Office Supplies,Art
4,BN-2011-2819714,1/4/2011,Mary Parker,Birmingham,United Kingdom,North,Corporate,1/9/2011,Economy,England,"Eldon Folders, Single Width",0.5,$17.00,-$1.00,2,Office Supplies,Storage

### 9.  How many orders for "Office Supplies" (Category) has Sweden made?

In [90]:
country_list = merged_data.country.value_counts().index
country_count = merged_data.country.value_counts().values

pd.DataFrame({'country':country_list, 'order_counts':country_count})

          country  order_counts
0  United Kingdom             3
1          Sweden             1
2          France             1

### 10. What is the total quantity of objects sold for Sweden?

In [71]:
merged_data.groupby(['country']).sum()

                discount  quantity
country
Austria             0.00       973
Belgium             0.00       532
Denmark            30.50       204
Finland             0.00       201
France            147.00      7329
Germany            89.85      6179
Ireland            50.30       392
Italy             122.60      3612
Netherlands       188.90      1526
Norway              0.00       261
Portugal           35.00       286
Spain              26.10      2881
Sweden            103.10       753
Switzerland         0.00       308
United Kingdom     92.20      4917

### 11. What Shipping method is most common for 'Bookcases' (Sub Category)?

In [76]:
merged_data.groupby(['country','ship_mode']).sum()

pd.merge(orders,OBD[OBD['sub-category'])

                             discount  quantity
country        ship_mode
Austria        Economy           0.00       649
               Economy Plus      0.00       124
               Immediate         0.00        39
               Priority          0.00       161
Belgium        Economy           0.00       325
               Economy Plus      0.00       101
               Immediate         0.00        26
               Priority          0.00        80
Denmark        Economy          19.20       140
               Economy Plus      8.20        42
               Priority          3.10        22
Finland        Economy           0.00       126
               Economy Plus      0.00        38
               Immediate         0.00        16
               Priority          0.00        21
France         Economy          91.75      4251
               Economy Plus     28.90      1576
               Immediate         6.95       468
               Priority         19.40      1034
Germany        Economy          55.25      4009
               Economy Plus     16.45      1084
               Immediate         5.10       288
               Priority         13.05       798
Ireland        Economy          24.50       200
               Economy Plus     13.60       104
               Immediate         1.50        12
               Priority         10.70        76
Italy          Economy          72.40      2223
               Economy Plus     26.20       736
               Immediate         3.80       129
               Priority         20.20       524
Netherlands    Economy         104.00       830
               Economy Plus     40.30       347
               Immediate         5.50        48
               Priority         39.10       301
Norway         Economy           0.00       145
               Economy Plus      0.00        50
               Immediate         0.00         9
               Priority          0.00        57
Portugal       Economy          27.00       230
               Economy Plus      3.50        26
               Priority          4.50        30
Spain          Economy          16.80      1676
               Economy Plus      4.90       564
               Immediate         1.10       197
               Priority          3.30       444
Sweden         Economy          66.30       476
               Economy Plus     17.10       126
               Immediate         8.10        55
               Priority         11.60        96
Switzerland    Economy           0.00       199
               Economy Plus      0.00        43
               Immediate         0.00        16
               Priority          0.00        50
United Kingdom Economy          53.80      2911
               Economy Plus     17.80      1039
               Immediate         6.40       256
               Priority         14.20       711

In [77]:
subcat_list = merged_data['sub-category'].value_counts().index
subcat_count = merged_data['sub-category'].value_counts().values

pd.DataFrame({'subcat':subcat_list, 'subcat_counts':subcat_count})

KeyError: ('sub-category', 'ship_mode')