<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# SQL Together Lab: Learning SQL Syntax


---




### Learning Objectives

- Sort results by column using `ORDER BY`
- Simplify your syntax using aliases (`AS`)
- Match patterns using `LIKE`
- Select distinct items using `DISTINCT`
- Aggregate values using `GROUP BY`
- Filter on aggregations using `HAVING`
- Apply `IF/THEN` logic using `CASE`
- Use `EXTRACT` to get date parts

### Lesson Guide
- [Install `psycopg2`](#install-psycopg2)
- [Connect to a Remote Database](#connect-to-remote)
- [Some Notes on Syntax](#syntax-notes)
- [ORDER BY](#order-by)
- [Alias `AS`](#alias-as)
- [LIKE](#like-operator)
- [DISTINCT](#distinct)
- [LIMIT](#limit)
- [GROUP BY](#group-by)
- [HAVING](#having)
- [CASE Statements](#case)
- [Working with Dates](#dates)
- [Additional Exercises](#additional-exercises)
- [Conclusion](#conclusion)
- [Additional Resources](#additional-resources)

<a id='install-psycopg2'></a>
## Install `psycopg2`

---



`conda install -c anaconda psycopg2`

<a id='connect-to-remote'></a>
## Connect to a Remote Database

---

In [1]:
import psycopg2
import pandas as pd

# DSN (data source name) format for database connections:  
# [protocol / database  name]://[username]:[password]@[hostname / ip]:[port]/[database name here]


# on your computer you are the user postgres (full administrative access)
db_user = 'postgres'
# if you need a password to access a database, put it here
db_password = ''
# on your computer, use localhost
db_host = 'localhost'
# the default port for postgres is 5432
db_port = 5432
# we want to connect to the northwind database
database = 'northwind'

conn_str = f'postgresql://{db_user}:{db_password}@{db_host}:{db_port}/{database}'
conn = psycopg2.connect(conn_str)

<a id='order-by'></a>

## `ORDER BY`

---

    The `ORDER BY` keyword is used to sort a result set by one or more columns. It sorts records in ascending order by default. To sort the records in descending order, you can use the `DESC` keyword.

### SQL `ORDER BY` Syntax

```*.sql
SELECT column_name1, column_name2  
FROM table_name  
ORDER BY column_name1 ASC, column_name2 DESC;
```

### Exercise #1:

Select the `product_id`, `product_name`, `supplier_id`, and `unit_price` for all `products` with a `unit_price > 25`, ordered by `supplier_id` descending and then `unit_price` ascending.

In [2]:
# query = """
#  your query here 
# """

# df = pd.read_sql(query, con=conn)
# df.head(10)

## <a id='alias-as'></a>
## Alias `AS`

---

SQL aliases are used to give a database table — or a column in a table — a temporary name. Aliases are often created for two purposes:
1. To make output column names more readable (substitute names). 
2. To make queries more concise (shorten query arguments).

### SQL Alias Syntax for Columns

```*.sql
SELECT column_name AS alias_name  
FROM table_name;
```

### SQL Alias Syntax for Tables

```*.sql
SELECT column_name(s)  
FROM table_name AS alias_name;
```

### Exercise #2

Select `supplier_id` and `company_name` from the `suppliers` table, aliasing these columns as `Supplier No.` and `Company Name`, respectively. Additionally, alias the `suppliers` table as `S`. Order by `Company Name` ascending.

**Hint:** Column names with spaces have to be enclosed by quotation marks.

**Aliases can be useful when:**

- More than one table is involved in a query
- Functions are used in the query
- Column names are long and/or not very readable
- Two or more columns are combined together

<a id='like-operator'></a>
## SQL's `LIKE` Operator

---

The `LIKE` operator is used in a `WHERE` clause to search for a specific pattern within a column.


### SQL `LIKE` Syntax

```*.sql

SELECT column_name(s) 
FROM table_name  
WHERE column_name LIKE pattern;

```

> **Tip**: The `"%"` sign is used to define wildcards (missing letters) both before and after the pattern. Also, notice that PostgreSQL is case sensitive.

### Exercise #3

In descending order, select all products from the `products` table with a `product_name` that contains "ch." Alias this column as `Ch Products`.

### Exercise #4

In ascending order of `product_name`, select all products from the `suppliers` table with a `city` that starts with "S." Alias this column as `S Cities`.

<a id='distinct'></a>
## The `DISTINCT` operator

---

The `SELECT DISTINCT` statement is used to return _only_ distinct (unique) values. In a table, a column may contain many duplicate values; sometimes you'll only want to list the unique ones.

### `SELECT DISTINCT` Syntax

```*.sql

SELECT DISTINCT column_name1, column_name2 
FROM table_name;

```

### Exercise #5

`SELECT DISTINCT` `supplier_id`, `product_name`, and `unit_price` from the `products` table, ordering by `unit_price` ascending (i.e., the cheapest product for each supplier).

<a id='limit'></a>

## The `LIMIT` operator

---

Sometimes, we may want to only retrieve a fixed number of records from a database. This is where the `LIMIT` operator comes in handy.


### `LIMIT` Syntax

```*.sql

SELECT column_name1, column_name2  
FROM table_name
LIMIT number_of_records;

```

## Sub-queries

---
A subquery is an SQL query nested inside a larger query.


### `sub-query` Syntax

```*.sql

SELECT sub.column_names()
FROM 
        (SELECT column_name(s)
        FROM table
        WHERE ...
        ORDER BY ...) as sub
        
ORDER BY ... 
LIMIT ...
       
```


**OR**

```*.sql

WITH sub as (SELECT column_name(s)
            FROM table
            WHERE ...
            ORDER BY ...)
            
SELECT sub.column_name(s)
FROM sub
ORDER BY ...
LIMIT ...
       
```

### Exercise #6

In ascending order, return the five highest-priced products according to `unit_price` that contain an "a" in the product name. Alias the column as `Top 5 A Products`.

_**Tip:** This one requires a sub-query!_

_**Tip:** If you are finding this one a bit tricky to execute in one query, check out [SQL Subqueries](https://www.tutorialspoint.com/sql/sql-sub-queries.htm)._

<a id='group-by'></a>
## `GROUP BY` Operator

---

A table may contain several records that have a common key. 

The `GROUP BY` statement is used in conjunction with aggregate functions to group a result set by one or more columns. For example, we may want to know the total number of items purchased in each order.

### `GROUP BY` Syntax

```*.sql
SELECT column_name, aggregate_function(column_name)  
FROM table_name  
WHERE column_name operator value  
GROUP BY column_name;
```

The aggregate functions you can use with `GROUP BY` are:
- **`COUNT`**
- **`MIN`**
- **`MAX`**
- **`SUM`**
- **`AVG`**

### Exercise #7

From the `order_details` table, show the count of orders per `order_id`, as well as the `SUM` of the revenue (`unit_price * quantity`). Order by revenue.

<a id='having'></a>
## The `HAVING` operator

---

The `HAVING` clause was added to SQL because the `WHERE` keyword could not be used with aggregate functions. `HAVING` allows us to apply a filter while querying with them. For example, if we only wanted to show companies that had revenues greater than $10,000 (as calculated by an aggregate function).

### `HAVING` Syntax

``` *.sql

SELECT column_name, aggregate_function(column_name)
FROM table_name
WHERE column_name operator value
GROUP BY column_name
HAVING aggregate_function(column_name) operator value;

```

### Exercise #8

Show the revenue of all orders with more than one item.

<a id='case'></a>
## `CASE` statements

---

The `CASE` statement is SQL’s way of applying `IF/THEN` logic. The `CASE` statement is followed by at least one pair of `WHEN` and `THEN` statements. It must end with an `END` statement. The `ELSE` statement is optional and provides a way to capture values not specified in the `WHEN/THEN` statements.

### `CASE` Syntax

Generic form: 

```*.sql
SELECT 
    CASE 
        WHEN column_name operator value THEN 'string value1'
        WHEN column_name operator value THEN 'string value2'
        ELSE 'string value3' 
     END 
     AS 'alias'         
FROM table_name
```

Or, when testing values in one column only when we're testing for equality: 


```*.sql
SELECT 
    CASE column_name 
        WHEN value THEN 'string value1'
        WHEN value THEN 'string value2'
        ELSE 'string value3' 
    END 
    AS 'alias'         
FROM table_name
```


### A Pseudocode Example

```*.sql
SELECT name,
    CASE 
        WHEN age < 1 THEN 'infant'
        WHEN age < 2 THEN 'toddler'
        WHEN age < 5 THEN 'child'
        ELSE 'old as dirt' 
    END 
    AS 'Persons Age'
```

### Exercise #9

Select `company_name`, `city`, and `country` from the `suppliers` table. Add a new column, `domestic_foreign`, which contains a value of "domestic" if the supplier is from the United States and "foreign" if not.

<a id='dates'></a>
## Working With Dates

---

Take some time to look over the [PostgreSQL date documentation](https://www.postgresql.org/docs/8.1/static/functions-datetime.html).

### Extracting Date Parts From a Date Object
```*.sql
SELECT my_date,
       EXTRACT('year'   FROM my_date) AS year,
       EXTRACT('month'  FROM my_date) AS month,
       EXTRACT('day'    FROM my_date) AS day,
       EXTRACT('hour'   FROM my_date) AS hour,
       EXTRACT('minute' FROM my_date) AS minute,
       EXTRACT('second' FROM my_date) AS second,
       EXTRACT('decade' FROM my_date) AS decade,
       EXTRACT('dow'    FROM my_date) AS day_of_week
FROM table_name
```

Alternatively, you can use postgres' `date_part` function:

```SQL
SELECT date_part('year', my_date) AS year 
FROM table_name
```

### Exercise #10

Select `order_date` and `freight` from the `orders` table, along with three new columns for `year`, `month`, and `day`. Make sure these are [_**cast**_ as integers, not floats](http://www.postgresqltutorial.com/postgresql-cast/).

After extracting the dates as integers, pull out the `year`, `month`, and `SUM` of `freight`, aliased as `freight_per_month`, grouping by the `year` and `month`, but only where the `freight_per_month` is greater than 5,000.

Order this DataFrame by `year` and `month` descending.

### Exercise #11

From the `orders` table, find the average number of days it took to ship a package per `ship_country`. Only include orders that have a `shipped_date`, and only show the top five results.

### Exercise #12

In the `orders` table, find the top five countries by average `freight` cost of products shipped in 1998.

### Exercise #13

From the `employees` table, find the two women who were hired the most recently. Exclude entries where gender is ambiguous.  
_**Tip:** You may want to investigate the "title_of_courtesy" column._

### Exercise #14

Split products from the `products` table into three price categories:
- **Cheap**: Less than \$10.
- **Fair**: \$ 10 to 50.
- **Expensive**: Greater than \$50.

Return the count-per-product price categories, along with the `MIN`, `MAX`, and `AVG`.

<a id='conclusion'></a>
## Conclusion

---

In this lesson, we've learned many new commands for making powerful SQL queries.

In particular, we learned how to:

- Sort results by column using `ORDER BY`
- Simplify our syntax using aliases
- Match patterns using `LIKE`
- Select distinct items using `DISTINCT`
- Aggregate values using `GROUP BY`
- Filter aggregations using `HAVING`
- Apply `IF/THEN` logic using `CASE`
- Use `EXTRACT` to get date part

**Can you think of a few more business cases where these capabilities would be useful?**

<a id='additional-resources'></a>
## Additional Resources

---

- [PostgreSQL Documenation](https://www.postgresql.org/docs/)
- [Mode Analytics Tutorial](https://community.modeanalytics.com/sql/tutorial/introduction-to-sql/)