In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

pd.set_option('display.max_columns',1000)

In [3]:
train = pd.read_csv('./datasets/train.csv')

# Make Date into datetime object, and index:
train['Date'] = pd.to_datetime(train.Date, format='%Y-%m-%d')
train.set_index('Date', inplace=True, drop=True)
train.head(1)

,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
Date,,,,,,,,,,,
2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,1,0

In [4]:
spray = pd.read_csv('./datasets/spray.csv')
# Make Date into datetime object, and index
spray['Date'] = pd.to_datetime(spray.Date, format='%Y-%m-%d')
spray.set_index('Date', inplace=True, drop=True)
spray.drop(columns='Time', inplace=True)
spray.head(1)

             Latitude  Longitude
Date
2011-08-29  42.391623 -88.089163

In [5]:
spray['spray'] = 1

In [8]:
spray_train = spray.merge(train, how='inner', on='Date', suffixes=('_spray','_train'))
spray_train.head(1)

,Latitude_spray,Longitude_spray,spray,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude_train,Longitude_train,AddressAccuracy,NumMosquitos,WnvPresent
Date,,,,,,,,,,,,,,
2013-07-25,41.96052,-87.739783,1,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,3,0

In [13]:
spray_train.WnvPresent.unique()

array([0, 1])